{% extends 'base.html'%}
{% block content %}

<h1>New Truck</h1>
<form action="{% url 'owners_create' user.id %}" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Enter truck name"> <br>
    <input id="autocomplete" type="text" name="location" placeholder="Enter a location" /> <br>
    Add Photo <input type="file" name="photo-file"><br>
    <textarea name="description" cols="30" rows="10" placeholder="Enter truck description"></textarea> <br>
    <table>
        <tr>
            <th>Day</th>
            <th>Open Hours</th>
            <th>Close Hours</th>
        </tr>
        <tr>
            <td>Monday</td>
            <td><input type="time" name="monday_open"></td>
            <td><input type="time" name="monday_close"></td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td><input type="time" name="tuesday_open"></td>
            <td><input type="time" name="tuesday_close"></td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td><input type="time" name="wednesday_open"></td>
            <td><input type="time" name="wednesday_close"></td>
        </tr>
        <tr>
            <td>Thursday</td>
            <td><input type="time" name="thursday_open"></td>
            <td><input type="time" name="thursday_close"></td>
        </tr>
        <tr>
            <td>Friday</td>
            <td><input type="time" name="friday_open"></td>
            <td><input type="time" name="friday_close"></td>
        </tr>
        <tr>
            <td>Saturday</td>
            <td><input type="time" name="saturday_open"></td>
            <td><input type="time" name="saturday_close"></td>
        </tr>
        <tr>
            <td>Sunday</td>
            <td><input type="time" name="sunday_open"></td>
            <td><input type="time" name="sunday_close"></td>
        </tr>
    </table>
    <p>Tags</p>
    <input type="text" name="content"> <input type="text" name="content"> <input type="text" name="content"><br>
    <input type="text" name="content"> <input type="text" name="content"> <input type="text" name="content">
    <table class="menu">
        <tr>
            <th>Food Name</th>
            <th>Food Description</th>
            <th>Price</th>
            <th></th>
        </tr>
        <tr>
            <td><input type="text" name="food_name"></td>
            <td><input type="text" name="food_description"></td>
            <td><input type="number" min="0.00" max="10000.00" step="0.01" name="food_price" placeholder="0.00"></td>
            <td><button type="button" class="delete">-</button></td>
        </tr>
        <tr>
            <td><input type="text" name="food_name"></td>
            <td><input type="text" name="food_description"></td>
            <td><input type="number" min="0.00" max="10000.00" step="0.01" name="food_price" placeholder="0.00"></td>
            <td><button type="button" class="delete">-</button></td>
        </tr>
        <tr>
            <td><input type="text" name="food_name"></td>
            <td><input type="text" name="food_description"></td>
            <td><input type="number" min="0.00" max="10000.00" step="0.01" name="food_price" placeholder="0.00"></td>
            <td><button type="button" class="delete">-</button></td>
        </tr>
    </table>
    <button type="button" class="new-menu">Add More Items</button>
    <br> <br>
    <button>Create New Listing</button>
</form>
<script>
    let menuTable = document.querySelector('.menu')
    let newMenuBtn = document.querySelector('.new-menu')
    newMenuBtn.addEventListener('click', () => {
        let newRow = menuTable.insertRow(-1);
        let cell1 = newRow.insertCell(0);
        let cell2 = newRow.insertCell(1);
        let cell3 = newRow.insertCell(2);
        let cell4 = newRow.insertCell(3);
        cell1.innerHTML = `<input type="text" name="food_name">`
        cell2.innerHTML = `<input type="text" name="food_description">`
        cell3.innerHTML = `<input type="number" min="0.00" max="10000.00" step="0.01" name="food_price" placeholder="0.00">`
        cell4.innerHTML = `<button type="button" class="delete">-</button>`
        cell4.children[0].addEventListener('click', () => {
            menuTable.deleteRow(cell4.children[0].parentElement.parentElement.rowIndex)
        })
    })
    let deleteBtns = document.querySelectorAll('.delete')
    deleteBtns.forEach((btn) => {
        btn.addEventListener('click', () => {
            menuTable.deleteRow(btn.parentElement.parentElement.rowIndex)
        })
    })
</script>
<script
    src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDtN4w76X1h9sk9jNP8SvP4jF4YIuLv2jA"></script>
<script>
    new google.maps.places.Autocomplete(
        document.getElementById("autocomplete")
    );
</script>
{% endblock %}