{% extends 'base.html' %}
{% block content %}

<div class="container mx-auto align-items-center justify-content-center">
  <form method="post" action="{% url 'signup' %}">
    {% csrf_token %}
    <div class="row">
      <div class="col text-center">
        {% for field in form %}
              <div class="form-group">
                  <label class="mylabel">{{ field.label }}</label>
                  <div class="form-group">
                    {{ field }}
                  </div>
              </div>
              <br>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <input class="btn" style="width: 50%; background-color: #BCD5E3;" type="submit" value="Register"><br>
        <input type="hidden" name="next" value="{{ next }}">
      </div>
    </div>
    {{form.errors}}
  </form>
</div>


{% endblock %}